.Button {
  display: inline-block;
  border: 1px solid #fff;
  outline: none;
  padding: 0 10px;
  min-height: 30px;
  max-height: 50px;
  border-radius: 3px;
  background-color: #59bfef;
  color: #fff;
  /* max-width: 100px; */
}

.Button:hover {
  background-color: #3e88aa;
  cursor: pointer;
}

.Button:active {
  background-color: #295a70;
}