.header {
  min-height: 50px;
  background: linear-gradient(to right, #b5effd 0%, #59bfef 100%);
  line-height: 50px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 80%;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 1.75rem;
}

.title:hover {
  cursor: default;
}

.right_column {
  min-width: 230px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: black;
  text-decoration: none;
  cursor: default;
}

.link:visited {
  color: black
}

.link:hover {
  color: #2eb0ec
}

.link:active {
  color: #0c93d1
}