.input_wrapper {
  display: flex;
  flex-direction: column;
  
}

.label {
  margin-bottom: 5px;
}

.input_content {
  display: flex;
  justify-content: start;

}

.input_error {
  margin-left: 10px;
}

.input { 
  margin: 0 0 5px 0;
  padding: 5px;
  font-size: 14px
}