.footer {
  min-height: 50px;
  background: linear-gradient(to left,  #ccf7fd 0%, #59bfef 100%);
}

.footer_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}