#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  font-size: 18px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.main {
  flex-grow: 1;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}